<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Character Sheet Header --}}
    {{> "systems/trpg/templates/actors/parts/character-sheet-header.html"}}

    {{!-- Character Sheet Navigation --}}
    {{> "systems/trpg/templates/actors/parts/character-nav-bar.html"}}

    {{!-- Character Sheet Body --}}
    <section class="sheet-body">
        {{!-- Attributes Tab --}}
        <div class="tab attributes flexcol" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores --}}
            {{> "systems/trpg/templates/actors/parts/actor-abilities.html"}}

            <div class="flexrow">

                <div class="attributes-left flexcol">
                    {{!-- HP/MP/AC Resources --}}
                    <div class="resource">
                        <ul class="attributes flexrow">
                            {{> "systems/trpg/templates/actors/parts/actor-resources.html"}}
                            {{> "systems/trpg/templates/actors/parts/actor-armor-class.html"}}
                        </ul>
                        <ul class="attributes flexrow">
                            {{!-- Traits --}}
                            {{> "systems/trpg/templates/actors/parts/actor-traits.html"}}
                        </ul>
                    </div>
                </div>

                <div class="attributes-right flexcol">
                    {{!-- Saving Throws --}}
                    {{> "systems/trpg/templates/actors/parts/actor-saves.html"}}

                    {{!-- Skills --}}
                    {{> "systems/trpg/templates/actors/parts/actor-skills.html"}}
                </div>

            </div>
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/trpg/templates/actors/parts/actor-inventory.html" sections=inventory}}
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/trpg/templates/actors/parts/actor-features.html" sections=features}}
        </div>

        {{!-- Spellbook Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
            {{> "systems/trpg/templates/actors/parts/actor-spellbook.html"}}
        </div>

        {{!-- Jutsuslist Tab --}}
        <div class="tab jutsuslist flexcol" data-group="primary" data-tab="jutsuslist">
            {{> "systems/trpg/templates/actors/parts/actor-jutsuslist.html"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/trpg/templates/actors/parts/active-effects.html"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab flexrow" data-group="primary" data-tab="biography">
            <div class="characteristics flexcol">
                <label>{{ localize "TRPG.Backstory" }}</label>
                <textarea name="system.details.backstory">{{system.details.backstory}}</textarea>
                <label>{{ localize "TRPG.Personality" }}</label>
                <textarea name="system.details.personality">{{system.details.personality}}</textarea>
                <label>{{ localize "TRPG.Appearance" }}</label>
                <textarea name="system.details.appearance">{{system.details.appearance}}</textarea>
                <label>{{ localize "TRPG.Allies" }}</label>
                <textarea name="system.details.ally">{{system.details.ally}}</textarea>
                <label>{{ localize "TRPG.Honors" }}</label>
                <textarea name="system.details.honor">{{system.details.honor}}</textarea>
            </div>
            <div class="biography">
                {{editor biographyHTML target="system.details.biography.value" button=true owner=owner editable=editable rollData=rollData}}
            </div>
        </div>
    </section>
</form>
